<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shiro.demo.mapper.ResourceMapper">

    <select id="findResourcesByUserId" resultType="org.shiro.demo.entity.Resource">
        SELECT re.*
        FROM sh_resource re
        LEFT JOIN sh_role_resource rr ON rr.RESOURCE_ID=re.ID
        LEFT JOIN sh_role ro ON rr.ROLE_ID=ro.ID
        LEFT JOIN sh_user_role ur ON ur.ROLE_ID=ro.ID
        LEFT JOIN sh_user u ON u.ID=ur.USER_ID
        WHERE rr.ENABLE_FLAG=TRUE
        AND re.ENABLE_FLAG=TRUE
        AND ro.ENABLE_FLAG=TRUE
        AND ur.ENABLE_FLAG=TRUE
        AND u.ENABLE_FLAG=TRUE
        AND u.ID=#{userId}
    </select>
</mapper>
